<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Javi-air</name>

    <description>
        This app is for the use of Javier Vilchis a long distance runner based in Irving, Texas. 
    </description>

    <author href="https://www.javivilchis.com" email="javivilchis@gmail.com">
        Javi-Air
    </author>
    <!-- Android only -->
    <platform name="android" >
	  <preference name="orientation" value="portrait" />
	</platform>

	<preference name="android-build-tool" value="ant|gradle" />
	<preference name="android-minSdkVersion" value="10" />
	<preference name="android-maxSdkVersion" value="15" />
	<preference name="android-targetSdkVersion" value="12" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />

	<platform name="android" platform="android"  />
	<!-- Plugin -->
	<preference name="org.apache.cordova.battery-status" />
	<feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
	
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="org.apache.cordova.camera" />
	<plugin name="org.apache.cordova.dialogs" />
	<!-- Push Plugin -->
	<plugin name="com.phonegap.plugins.pushplugin" source="pgb" />
	<!-- icons -->
	<icon src="icon.png" />
	<!-- icon src="images/icons/ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="images/icons/mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="images/icons/hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="images/icons/xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="images/icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
	<icon src="images/icons/xxxhdpi.png" platform="android" qualifier="xxxhdpi" / -->

	<!-- Splash screen -->
	<splash src="splash.png" />
	<!-- icon src="images/splash/ldpi-p.png" platform="android" qualifier="ldpi" />
	<icon src="images/splash/mdpi-p.png" platform="android" qualifier="mdpi" />
	<icon src="images/splash/hdpi-p.png" platform="android" qualifier="hdpi" />
	<icon src="images/splash/xhdpi-p.png" platform="android" qualifier="xhdpi" />
	<icon src="images/splash/xxhdpi-p.png" platform="android" qualifier="xxhdpi" />
	<icon src="images/splash/xxxhdpi-p.png" platform="android" qualifier="xxxhdpi" / -->


</widget>
